
 /* Modal CSS based on previous Memory Game FEND project :-D */
body, html {
    height: 100%;
    text-align: center;
    background: linear-gradient(0deg, rgba(75, 152, 92, 1) 25%, blue);
}

.modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.450);
}

.modal-body {
    position: relative;
    width: 250px;
    height: 150px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    background: rgba(140, 140, 140, 1);
    transform: translate(-50%, -80%);
}

.modal-button {
    font-weight: bold;
    font-size: 1em;
    margin: 25%;
}

.hide {
    display: none;
}
